.about {
    background: #1c1c1c;
    top: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .container {
        display: flex;
    }


    &__video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: 1;
    }

    &__title {
        font-size: 60px;
        margin-top: 50px;
        color: #ffffff;
        font-weight: 700;
    }

    &__img {
        overflow: hidden;
        width: 1000px;
        height: 1000px;
        position: absolute;
        top: 0;
        right: 0;

    }

    &__txt {
        color: #ffffff;
        font-size: 20px;
        letter-spacing: 2px;
        font-style: italic;
    }

    &__box {
        padding-left: 250px;
        margin-top: -50px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -48%);
    }


    &__text {
        color: #fff;
        font-size: 20px;
        margin-top: 30px;

        & span {
            font-weight: 600;
            color: #ffaa00;
            margin-right: 5px;
        }
    }

    &__span {
        font-weight: 600;
        color: #fff !important;
    }
}

.globusCanvas {
    background-color: red;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}